
form .full {
	width: 98%;
	}

form .half {
	width: 64%;
	}

form .third {
	width: 44%;
	}

form .big {
	font-size: 200%;
	padding: 4px;
	}

div.active {
	background-color: #FDEEB7;
	}

div.panel {
	background-color: #F2F2F2;
	border: 1px solid #e6e6e6;
	}

	div.items {
		height: 500px;
		overflow: auto;
		border: 1px solid #ccc;
		clear: both;
		background: #fff;
	}

	div.items div.item {
		border-left: 4px solid #e6e6e6;
		}

		div.items div.item div.actions {
			font-size: 12px;
			visibility: hidden;
			margin: 6px;
			}
			
			div.actions ul li, 
			div.actions a {
				margin: 0 4px;
			}

		div.items div.item div.actions a.ui-button {
			margin-top: 5px;
			}

	div.items div.item.hover {
		background: #E5ECF9;
		}
		
		div.items div.item.hover div.actions {
			visibility: visible;
			}

	div.panel div.caption {
		padding: 3px 8px 2px 4px;
		border-bottom: 2px solid #e6e6e6;
		background: #e6e6e6;
		letter-spacing: 1px;
		color: #444;
		}

	div.panel p {
		color: #666;
		padding: 5px 10px;
		}

div.input {
	padding: 4px;
	}

	div.input label {
		color: #5C5C5C;
		font-size: 100%;
		line-height: 150%;
		font-weight: normal;
		display: block;
		float: left;
		width: 140px;
		}

/*
		div.input span,
		div.input small {
			float: right;
			position: relative;
			top: 3px;
		}
*/
	/*	div.input span { font-size: 86%; top: 0px; } */

		div.input.checkbox span,
		div.input.checkbox small {
			top: -16px;
			}

		div.input label small,
		div.input.textarea label small {
			display: block;
			margin: 8px 5px 0px 5px;
			color: #999;
			line-height: 120%;
			font-weight: normal;
			}

		/* hide small, if not active */
		div.input span,
		div.input small,
		div.input label small,
		div.input.textarea label small {
			/* visibility: hidden; */
			}

		div.input.active span,
		div.input.active small,
		div.input.active label small,
		div.input.textarea.active label small {
			visibility: visible;
			color: #777;
			}

	/* CHECKBOX */
	div.input.checkbox {
		}

	div.input.checkbox input {
		padding: 0;
		line-height: 10px;
		margin-left: 140px;
		}

		div.input.checkbox input.full {
			margin: 0 0 0 5px;
			padding: 0;
			width: 10px;
			}

	div.input.checkbox label {
		position: relative;
		top: -2px;
		float: none;
		display: inline;
		font-weight: normal;
		margin-left: 8px;
		}

	/* RADIO */
	div.radiorow {
		}

	div.input.radio {
		}

	div.input.radio input {
		margin: 0 0 0 5px;
		padding: 0;
		width: 10px;
		}

		div.input.radio input.full {
			margin: 0 0 0 5px;
			padding: 0;
			width: 10px;
			}

	div.input.radio label {
		position: relative;
		top: -2px;
		float: none;
		display: inline;
		line-height: 180%;
		font-weight: normal;
		margin-left: 8px;
		white-space: nowrap;
		}

		div.input.radio label {
			}

	/* REQUIRED */
	div.required label {
		font-weight: bold;
		}

	div.required label small {
		font-weight: normal;
		}


/* FIELDSET */
fieldset {
	border: 1px solid #ccc;
	background-color: #eaeaea;
	}

fieldset legend {
	color: #545454;
	padding: 3px;
	margin-left: 5px;
	}

fieldset div.legend {
	color: #545454;
	width: auto;
	padding: 5px;
	font-weight: bold;
	}


input, 
textarea, 
select {
	font-family: Verdana, Arial, sans-serif;
	color: #545454;
	border: 1px solid #ccc;
	background: #fafafa;
	margin: 0 0 4px 0;
	}

	div.input.active {
		background-color: #FDEEB7;
		}

	div.input.active input, 
	div.input.active textarea, 
	div.input.active select {
		border: 1px solid #aaa;
		color: #000;
		background: #fff;
		}

		div.input.error {
			background-color: #fbe3e4;
		}

		div.input.error input, 
		div.input.error textarea, 
		div.input.error select {
			border: 1px solid #f00;
			background: #fff;
			}

	input{
		padding: 2px;
	}

	textarea {
		font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
		padding: 2px;
		height: 160px;
		}

	textarea.full {
		font-size: 120%;
		height: 260px;
		}

	textarea.low {
		height: 120px; 
		}

	select.select {
		font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
		margin: 1px 0;
		padding: 1px 0 0 0;
	}

	input.hidden {
		display: none;
		border:0;
		margin:0;
		padding:0;
		}

	input.currency{
		text-align: right;
	}

input.checkbox, 
input.radio {
	border: 0;
	margin: 0;
	width: 15px;
	height: 15px;
}

/* div.empty */

div.empty { 
	background-color: #F2F2F2; 
	background-image: url('../img/stripes.gif'); 
	height: 500px; 
	text-align: center;
	}

	div.empty div.inner { padding-top: 180px; }
	div.empty div.inner div.panel { border-left: 0; border-right: 0; }
	div.empty div.inner div.panel h2 { color: #333; padding: 5px; text-decoration: none; }

/* FILTERS and FLAGS */

ul.flags li a, a.flag {
	color: #eee;
	padding: 2px 6px;
	white-space:nowrap;
	background-color: #888;
	text-decoration: none;
	}

ul.flags li a.active,
a.flag.active {
	font-weight: bold;
	}

	a.flag.red {
		background-color: #900;
		}

	a.flag.green {
		background-color: #090;
		}

	a.flag.blue {
		background-color: #009;
		}

.filter ul a,
ul.filter li a, a.filter {
	color: #777;
	text-shadow: 0 1px 1px rgba(120,120,120,.35);
	padding: 7px 10px 3px;
	white-space: nowrap;
	background: #DADADA;
	text-decoration: none;
	}

.filter ul a:hover, 
ul.filter a:hover {
		color: #efefef;
		text-shadow: 0 1px 0px rgba(0,0,0,.35);
		background: #c0c0c0;
	}

.filter ul a.active {
		color: #efefef;
		font-weight: bold;
		text-shadow: 0 1px 0px rgba(0,0,0,.55);
		background: #555;
	}

span.filter { display: block; }
span.filter ul { list-style: none; }
span.filter ul li a { display: block; float: left; border-right: 1px solid #ccc; }

ul.horiz li { margin: 0; }
ul.horiz li a { padding: 4px; }

span.flag { padding: 2px; font-size: 9px; font-family: Verdana; font-weight: bold; }


/* TABLES */
div.empty { background-color: #F2F2F2; height: 100%; text-align: center; }
div.empty div.inner { padding-top: 180px; }
div.empty div.inner div.panel { border-left: 0; border-right: 0; }
div.empty div.inner div.panel h4 { padding-bottom: 5px; text-decoration: underline; }


table {
	width:100%;
	border: 0px solid #888;
	}

	th {
		font-weight: normal;
		background: #efefef url('../img/admin/bg_footer.png') repeat-x bottom;
		color: #454545;
		font-size: smaller;
		line-height: 19px;
		padding: 1px 3px 0 4px;
		border-bottom: 1px solid #BCC2C7;
		}

	td {
		padding: 4px 4px 4px 5px;
		}

	td.small {
		padding: 3px 6px 3px 4px;
		}
    
	tr {  }
	tr td.actions ul { visibility: hidden; }
	tr.hover { background-color: #E5ECF9; }
	tr.hover td.actions ul { visibility: visible; }
	caption { background-color: #eee; }
    
	table tr th,
	table tr th a { color: #454545 !important; text-decoration: none; }
	table tr th a:hover { color: #000 !important; }

/* LEGENDS / COLORS explanations */

div.explanations { margin: 20px 5px; }
div.expl { color: #777; font-size: 11px; float: left; width: 140px; }
div.expl span { display: block; width: 14px; height: 14px; float: left; margin-right: 5px;  }

/* PAGING */

div.paginator {
	font-size: 100%;
	font-weight: normal;
	padding: 1px;
	}

	div.paginator span {
		margin: 0 2px;
	}

	div.paginator span.current {
		color: #777;
		margin: 0 2px;
	}
	
	div.paginator img {
		position: relative;
		top: 4px;
	}

	div.paginator span.img span {
		padding: 0;
	}

	div.paginator span.img a {
		padding: 3px 0 0 0;
	}

	div.paginator span a {
		padding: 2px 4px;
	}

	


	ul.btns {
		width: 140px;
		list-style-type: none;
		border-top: 1px solid #bebebe;
		}

	ul.btns li {
		padding: 0;
		background: transparent url(../img/admin/input_bg.gif) repeat-x left;
		border: 1px solid #bebebe;
		border-top: 0;
		}

	ul.btns li a {
		padding: 3px;
		display: block;
		text-decoration: none;
		}

	ul.btns li a img {
		margin: 0;
		padding: 0 5px;
		vertical-align: middle;
		}

	ul.btns li a:hover {
		background: #eee;
		}

	ul.btns li.active {
		background: #fff;
		}
