* {
	margin:0;
	padding:0;
}

/* General Style Info */
body {
	background: #2f2f2f;
	color: #fff;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:90%;
	margin: 0;
}

a {
	color: #003d4c;
	text-decoration: underline;
}
a:hover {
	color: #003d4c;
	text-decoration:none;
}
a img {
	border:none;
	vertical-align: middle;
}
button span {
	display: inline-block;
	padding: 2px 4px;
}
a.ui-button {
	display: inline-block;
	padding: 2px;
	vertical-align: baseline;
	text-decoration: none;
	text-shadow: 1px 1px #fff;
	-moz-box-shadow: rgba(136, 136, 136, 0.2) 0px 1px 1px;
	-webkit-box-shadow: rgba(136, 136, 136, 0.2) 0px 1px 1px;
}
button.ui-button {
	font-size: 14px;
	cursor: hand;
	padding: 2px 4px;
	text-shadow: 1px 1px #fff;
	vertical-align: baseline;
	-moz-box-shadow: rgba(136, 136, 136, 0.2) 0px 1px 1px;
	-webkit-box-shadow: rgba(136, 136, 136, 0.2) 0px 1px 1px;
}
a.ui-button span {
	padding: 2px;
	display: inline-block;
	text-decoration: none;
}
button.ui-button span img,
a.ui-button span img {
	vertical-align: middle;
}
h1, h2, h3, h4 {
	font-weight: normal;
	text-decoration: none;
}
h1 {
	color: #003d4c;
	font-size: 100%;
	margin: 0.1em 0;
}
h2 {
	color: #e32;
	font-family:'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 190%;
	margin: 0 0 0.3em 0;
}
h3 {
	color: #e32;
	font-family:'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 165%;
	padding-top: 0.5em;
}
h4 {
	color: #e32;
	font-weight: normal;
	padding-top: 0.5em;
}

/* Layout */
#container {
	text-align: left;
}

#header{
	padding: 10px 20px;
	background: #111;
}
#header h1 {
	color: #fff;
}
#header h1 a {
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	color: #fff;
	text-decoration: underline;
	margin: .6em 0;
}

/* NAVIGATION */
#navMain{
	background: #353535;
	clear: both;
	color: #F2F2F2;
	padding: 10px 20px 0px 20px;
	overflow: hidden;
}
#navMain ul { 
	list-style: none; 
}
#navMain ul li { 
	display: inline; 
}
#navMain ul li a {
	color: #F2F2F2;
	padding: 6px 10px 4px 10px;
	display: block;
	float: left;
	text-decoration: none; 
}
#navMain ul li a:hover {
	color: #333;
	background: #F2F2F2;
}
#navMain ul li a.active {
	color: #222;
	background: #fff;
}

/* USERNAV */
#navUser{
	float: right;
	color: #F2F2F2;
	padding: 0px;
	margin: 0 40px;
	overflow: hidden;
}
#navUser ul { 
	list-style: none; 
}
#navUser ul li { 
	display: inline-block;
	margin: 0 5px;
}
#navUser ul li a,
#navUser ul li span
 {
	color: #cecece;
	padding: 2px 5px;
	display: block;
	float: left;
	text-decoration: none; 
}
#navUser ul li a:hover {
	color: #fff;
}
#navUser ul li a.active {
	color: #fff;
}

/* SUBNAV */
.navSub{
	color: #F2F2F2;
	background: #F2F2F2;
	padding: 10px;
	overflow: hidden;
	text-align: right;
}
.navSub ul {
	padding: 0;
	margin: 0;
	list-style: none; 
}
.navSub ul li { 
	display: inline-block;
}
.navSub ul li a {
	padding: 2px 10px;
}


.navSub ul li a,
.navSub ul li span
{
	color: #666;
	padding: 2px 4px;
	display: inline-block;
	text-decoration: none;
}
.navSub ul li a:hover {
	color: #333;
}
.navSub ul li a.active {
	color: #000;
}

/* CONTENT */
#content{
	background: #fff;
	clear: both;
	color: #333;
}

#footer {
	color: #888;
	font-size: 12px;
	clear: both;
	padding: 6px 10px;
	text-align: right;
}

#copyright {
	position: absolute;
	bottom: 0;
	right: 0;
	clear: both;
	padding: 6px 10px;
	text-align: right;
	background: #fff;
}

/* Tables */
table {
	background: #fff;
	border:1px solid #ccc;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
table tr th {
	text-align: center;
}
table tr th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
table tr th a:hover { 
	color: #444;
	background: #ccc;
	text-decoration: none;
}
table tr td {
	background: #fff;
	border-right: 1px solid #ccc;
	padding: 4px;
	vertical-align: top;
}
table tr td.actions {
	text-align: center;
	white-space: nowrap;
}
table tr td.actions a {
	margin: 0px 4px;
	text-decoration: none;
}
table tr td.actions a img {
	margin: 0px 2px;
}
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
}

/* Breadcrumbs */
div.crumbs {
}
div.crumbs a {
	padding: 0 5px;
}

/* Paging */
div.paging {
	background:#fff;
	color: #ccc;
	margin-bottom: 2em;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}
div.paging span {
}
div.paging span.current {
	color: #000;
}
div.paging span a {
}

/* Scaffold View */
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl.altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/* Forms */
fieldset {
	border: 1px solid #ccc;
	margin-top: 30px;
	padding: 16px 20px;
}
fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div.input {
	vertical-align: text-top;
	color: #555;
	margin-bottom: 4px;
}
form div.required {
	color: #333;
	font-weight: bold;
}
form div.submit {
	border: 0;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 80%;
	padding-right: 20px;
}
input, textarea {
	clear: both;
	font-size: 90%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px;
	width: 100%;
}
select {
	clear: both;
	font-size: 90%;
	vertical-align: text-bottom;
	padding: 0.2em;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 100%;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit], input[type=reset] {
	display: inline;
	font-size: 104%;
    font-weight:bold;
	width: auto;
	vertical-align: bottom;
	color: #fff;
	border: 0;
	padding: 0.2em 0.8em;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	border-radius: 5px;
}
input[type=reset] {
    font-weight:normal;
}
input[type=submit].secondary, input[type=reset].secondary {
	font-size: 80%;
	font-weight: normal;
	margin-right: 1em;
}

input[type=submit].primary {
	background-color: #090;
}

input[type=submit]:hover {
	background:#aa1;
}

input:focus {
	background:#ffa;
	color: #000;
}

/* Notices and Errors */
div.message {
	clear: both;
	color: #900;
	font-size: 140%;
	font-weight: bold;
	margin: 1em 0;
}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

div.btnbar {
	float: right;
	}

	div.btnbar ul { list-style: none; }
	div.btnbar ul li { display: inline-block; margin-right: 6px; }

/* Related */
div.related {
	clear: both;
	display: block;
}

/* Debugging */
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	border: 4px dotted #ffcc00;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #ff0;
	padding: 4px;
}
div.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
div.code-coverage-results div.covered span.content {
	background:#cec;
}
div.code-coverage-results div.ignored span.content {
	color:#aaa;
}
div.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
div.code-coverage-results span.line-num strong {
	color:#666;
}
div.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
div.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
div.code-coverage-results div.realstart {
	margin-top:0px;
}
div.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
div.code-coverage-results span.result-bad {
	color: #a00;
}
div.code-coverage-results span.result-ok {
	color: #fa0;
}
div.code-coverage-results span.result-good {
	color: #0a0;
}


