body {
	font-family: arial, helvetica, sans-serif;
	color:#333;
}

#header {
	height:60px;
	background: url('../img/docs/header.gif');
}

	#header #logo {
		margin-top:15px;
	}

#nav {
	background: url('../img/docs/nav.gif');
}

/* first menu level */

#nav ul {
	float: left;
	height: 42px;
	font-size: 14px;
	position:relative;
	list-style-type:none;
	margin:0;
}

	#nav ul li,
	#nav .nav_pre,
	#nav .nav_post {
		display: block;
		float: left;
		height: 42px;
	}
	

	#nav .nav_pre,
	#nav .nav_post {
		width:2px;
	}
	
	#nav li .nav_pre {
		background: url('../img/docs/nav-bg.gif') no-repeat 0% 0%;
	}
	#nav li .nav_post {
		background: url('../img/docs/nav-bg.gif') no-repeat 0% 100%;
	}
	
	#nav li.last .nav_post {
		background: url('../img/docs/nav-bg.gif') no-repeat 0% 0%;
	}
	
	#nav li .active .nav_pre,
	#nav li:hover .nav_pre {
		background: url('../img/docs/nav-active.gif') no-repeat 0% 0%;
	}
	
	#nav li .active .nav_post,
	#nav li:hover .nav_post {
		background: url('../img/docs/nav-active.gif') no-repeat 0% 100%;
	}
	
	#nav ul li a {
		display: block;
		float: left;
		height: 42px;
		line-height: 42px;
		padding: 0 10px 0 10px;
		text-decoration: none;
		color:#333;
	}

	#nav ul li a.active,
	#nav ul li:hover a {
		background: url('../img/docs/nav-active.gif') repeat-x 0% -42px;
		color:#fff;
	}
	
	/* second menu level */
	
	#nav ul ul {
		position:absolute;
		top:42px;
		height:auto;
		left:0;
		display:none;
		background-color:#fff;
	}
	
	#nav ul ul li {
		height:35px;
		float:none;
		border-left:1px solid #888;
		border-right:1px solid #888;
		border-bottom:1px solid #ccc;
	}
	
	#nav ul ul li.last {
		border-bottom:1px solid #888;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-right-radius: 5px;
	}
	
	#nav ul ul li a {
		display:block;
		padding: 0 20px 0 10px;
		height:35px;
		line-height:35px;
		font-size:12px;
		color:#888;
	}
	
	#nav li:hover ul {
		display:block;
	}
	
	#nav ul ul li:hover {
		background:#ccc;
	}
	
	#nav ul li:hover ul a {
		background-image:none;
		color:#888;
	}
	
	#nav ul ul li:hover a {
		color:#555;
		background-image:none;
	}


